<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Comic Weaver</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar nav-link" >Homey</a>
    <a href="" class="navbar nav-link" >My Collection</a>
    <a href="" class="navbar nav-link" >Comics</a>
    <a href="" class="navbar nav-link" >Artists</a>
  </nav>