<%- include('./partials/header') %> 
   
    <div id="block"> 
        <h1><%= title %></h1>
        <p id="detail-link">Welcome to <%= title %>!</p>
        </div>
<%- include('./partials/footer') %> 
