body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

#main {
  background-color: #e6a607;
}

.new-form {
  background-color: teal;
  display: grid;
  justify-content: center;
  text-align: center;
  
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.btn {
  color:black;
}

@media (max-width: 43em){
  body {
    background-color: tomato;
    display: flex;
  }
}