body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

#login-text {
  list-style-type: none;
}

ul{
  list-style-type: none;
}

h1 {
  text-align: center;
}

a {
  color: gainsboro;
}

.navbar, footer {
  background-color: #e6a607;
  width: auto;
  margin: 0 auto;
  width:100%;
  text-align: center;
  height:3.5em;
  border: 0.1em solid black;
  flex-shrink:0;
}

.new-form {
  background-color: teal;
  border: 0.1em solid whitesmoke;
  display: grid;
  justify-content: center;
}

.edit-form{
  background-color: teal;
  border: 0.1em solid whitesmoke;
  opacity: .4;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.btn {
  color:black;
}

.artist-list {
  background-color: #7e8479;
  border: 0.1em solid whitesmoke;
  color: white;
}


/* @media (min-width: 44em){
  body {
    background-color: 
  }
} */