
body {
  padding: 50px;
  font: 14px "Poppins", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: rgb(254, 224, 169);
  background-image: url(../images/weaver.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  padding: 1em;
}

#login-text {
  list-style-type: none;
}

#block {
  background-color: rgba(255, 255, 255, .6);
  padding: .5em;
}
#detail-link{
  color: #8b7d1b
}

ul{
  list-style-type: none;
}

h1 {
  text-align: center;
  font-family: 'Epilogue', sans-serif;
}

a {
  color: gainsboro;
}

.navbar, footer {
  background-color: #e6a607;
  width: auto;
  margin: 0 auto;
  width:100%;
  text-align: center;
  height:3.5em;
  border: 0.1em solid black;
  flex-shrink:0;
}

.new-form {
  padding: .5em;
  background-color: rgba(139, 125, 27, .7);
  border: 0.1em solid black;
  display: grid;
  justify-content: center;
  color: whitesmoke;
  font-style: oblique;
}

.edit-form{
  padding: 1em;
  background-color:  rgba(139, 125, 27, .7);
  border: 0.1em solid black;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (min-width: ) {
  .navbar {
    justify-content: flex-start;
  }
}

.btn {
  color:black;
}

.artist-list {
  padding: .5em;
  background-color: #7e8479;
  border: 0.1em solid black;
  color: white;
}
/* Some ovverrides for Bootstrap */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: black;
  background-color: #fff;
}

a:hover {
  color: whitesmoke;
  text-decoration: underline;
}

.form-group {
  padding: .5em;
}